

body {
    text-align: center;
    font-family: arial,sans-serif;
}

#google {
    margin-top: 200px;
}

nav {
    padding: 15px 10px 10px 10px;
    display: flex;
}

.left {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    align-items: center;
}

.right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
}

nav div a, nav div div {
    margin: 10px;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

nav div a:hover {
    text-decoration: underline;
}

#dots {
    right: 1em;
    width: 30px;
    height: 30px;
    background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    -webkit-background-size: 528px 68px;
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
}

#signin {
    background: linear-gradient(#4387fd,#4683ea);
    width: 69.344px;
    height: 30px;
    line-height: 28px;
    border-radius: 3px;
}

#signin a {
    color: white;
    font-weight: bold;
}


#search {
    display: flex;
    justify-content: center;
    border: 1px solid #dfe1e5;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    align-items:center;
    padding: 10px;
    border-radius: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#search:hover {
    box-shadow: 0 0 6px 0px rgba(32,33,36,0.28) ;
}

#magnify {
    fill:rgb(154, 160, 166);
    padding-right: 10px;
    padding-left: 5px;
}

input {
    border-color: transparent;
    flex-basis: 100%;
    flex-shrink: 1;
}

input:focus {
    outline: none;
}

#microphone {
    width: 24px;
    height: 24px;
    padding-right: 5px;
}

.submit {
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
    color:rgb(95, 99, 104);
    border: 1px solid rgb(242, 242, 242);
}

.submit:hover {
    background-color:rgb(248, 248, 248);
    border-color:rgb(198, 198, 198);
}

#footnav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #f2f2f2;
}